.idea/
LUMINIS/Launcher.bat
LUMINIS/Launcher.jar
LUMINIS/Launcher.sh
LUMINIS/Libraries
LUMINIS/Logs
LUMINIS/Manual
LUMINIS/Maps
LUMINIS/MatchPresets
LUMINIS/README.txt
LUMINIS/Resources
LUMINIS/Results
LUMINIS/Videos
LUMINIS/Bots/BCBot/__pycache__
src
